body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
}

.card video {
    width: 100%;
    border-radius: 10px;
}

/* Texto debajo */
.descripcion {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}
